.전체 {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom : 10px;
}

.일주일 {
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.요일 {
    width: 40px;
    text-align: center;
}
.미포함 {
    color: gray;
}
